.contain {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 6fr minmax(100px,1fr);
  grid-template-rows: 100px ,  500px ;
  gap: 10px;
}

.website{
  background-color: white;
}

.Footer {
  background-color: white;
  grid-row: 2;
  grid-column: 2;
}

.Anmeldebox {
  background-color: rgb(255, 255, 255);
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  text-align: center;
  color: black;
}

.Tabelle {
  align-self: center;
  background-color: rgb(255, 255, 255);
  grid-row: 2;
  grid-column: 1;
}

.Tabellenüberschrift {
  background-color: rgb(255, 254, 254);
  grid-row: 1;
  grid-column: 1 ;
  text-align: center;
  text-decoration: underline;
  color: black;
}

table{
  border: 2px solid black;
  border-left: 1px solid black;
  width: 100%;
  height: minmax(50px,auto);
  border-left: 1px solid black;
}

th {
  border-bottom: 1px solid rgb(133, 149, 201);
}

td {
  text-align: center;
}

.button {
  background-color: #999999;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}