nav a {
	border-radius: 0px 0.5em 0.5em;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	flex: 1 100%;
}


body {
	display: flex;
	min-height: 100vh;
	margin: .1rem .1rem;
	flex-direction: column;
}



main {
	min-height: 5em;
	flex: 1;
    margin: .5rem;
}

nav {
	background-color: #fffbf0;
	border: 1px solid #e7c157;
	border-radius: 0 .1rem .1rem;
	margin: .1rem;
	padding: .1rem;

}