@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 70vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background: #fffdfd;
}

.form-group{
    z-index: 1;
    font-family: "Poppins", sans-serif;
    position: absolute;
    width: 320px;
    text-align: center;
}

.button {
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: 1px solid #1a202c;
    padding: 8px;
    min-width: 64px;

    background: transparent;

    transition: all 0.1s ease-in;
}


